<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p></p>
    <form action="/prove01" method="post">
      <label for="fname">First name:</label>
      <input type="text" id="fname" name="fname"><br><br>
      <label for="lname">Last name:</label>
      <input type="text" id="lname" name="lname"><br><br>
      <label for="color">Favorite Color:</label>
      <input type="text" id="color" name="color"><br><br>
      <label for="shoe">Shoe Size</label>
      <input type="text" id="shoe" name="shoe"><br><br>
      <input type="submit" value="Submit">
    </form> 
  </div>
</div>

</body>
</html>
